.contact {
  @include outer-container($small-container);
  text-align: center;
  margin-bottom: 100px;

  @include media(max-width 768px) {
    padding: 0 40px;
  }

  @include media(max-width 480px) {
    padding: 0 15px;
  }

  .contact-desc {
    margin-bottom: 50px;
  }

  .page-main-title {
    @include main-title;
    font-size: 2.5em;
    margin-bottom: 0;

    @include media(max-width $medium-screen) {
      font-size: 2em;
      padding: 0 40px;
    }
  }
}