#slider {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 40px;

  @media all and (min-width: 736px) {
    height: 600px;
  }

  @media all and (min-width: 500px) and (max-width: 736px) {
    height: 300px;
  } 

  .slider-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(150%,-50%);
    display: block;
    transition: all .3s ease-in-out;
    cursor: pointer;
    width: 200px;

    @media all and (min-width: 736px) {
      width: 600px;
    }

    @media all and (min-width: 500px) and (max-width: 736px) {
      width: 300px;
    }

    &.left {
      transform: scale(0.4) translate(-600%, -122%);
    }

    &.right {
      transform: scale(0.4) translate(2000px, -122%);
    }

    &.active {
      transform: scale(1) translate(-50%,-50%);
      display: block;
      z-index: 10;
    }

    /** Eredeti számítás amikor felénél vannak a képek 

    &.secondary {
      display: block;
      opacity: .95;
      z-index: 8;

      &.left {
        transform: scale(0.8) translate(-112%, -62%);
      }

      &.right {
        transform: scale(0.8) translate(-12%, -62%);
      }
    }

    &.third {
      display: block;
      opacity: .9;
      z-index: 6;

      &.left {
        transform: scale(0.6) translate(-212%, -84%);
      }

      &.right {
        transform: scale(0.6) translate(52%, -84%);
      } **/

      &.secondary {
        display: block;
        opacity: 1;
        z-index: 8;

        &.left {
          transform: scale(0.8) translate(-150%, -62%);
        }

        &.right {
          transform: scale(0.8) translate(28%, -62%);
        }
      }

      &.third {
        display: block;
        opacity: 1;
        z-index: 6;

        &.left {
          transform: scale(0.6) translate(-294%, -84%);
        }

        &.right {
          transform: scale(0.6) translate(128%, -84%);
        }
      }
  }
}