 <ul>
    <%- galleries.each do |gallery| %>
      <li>
        <%= link_to gallery[:data].en_name, 
                    "/en/gallery/#{gallery[:sym].to_s}", 
                    class: "#{current == gallery[:sym] ? 'category-active' : ''}" %>
      </li>
    <% end -%>
  </ul>

