%footer.home-footer
  .language-container
    = link_to 'EN', '/en'
    |
    = link_to 'DE', '/'
  .social-container
    %a{:href => "#"}
      %i.fa.fa-facebook
    %a{:href => "#"}
      %i.fa.fa-twitter
    %a{:href => "#"}
      %i.fa.fa-instagram
    %a{:href => "#"}
      %i.fa.fa-pinterest
        =link_to I18n.t('menu.impress'), "/en/#{I18n.t('paths.impressum')}", style: 'font-size: 12px'


