%nav.main-navigation{role: "navigation"}
  .logo-container
    =link_to '/en' do
      =image_tag('Logo.png')
  .main-navigation-container
    %ul
      %li.main-navigation-element 
        = link_to I18n.t('menu.home'), '/en'
      %li.main-navigation-element
        = link_to I18n.t('menu.about_me'), "/en/#{I18n.t('paths.about')}"
      %li.main-navigation-element 
        %a.featured{:href => "https://www.instagram.com/p3.glassart/", target: "_blank"} Gallery
      %li.main-navigation-element
        %a{:href => "https://my.matterport.com/show/?m=U9jd9arkBRY", target: "_blank"} virtual gallery
      -# %li.main-navigation-element
      -#   = link_to I18n.t('menu.contact_me'), "/en/#{I18n.t('paths.contact')}"
  .mobile-menu
    %i.fa.fa-bars.menu-trigger
