.main-navigation {
  position: inherit;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  margin-bottom: 50px;


  .main-navigation-container {
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    width: 100%;
    display: none;

    @include media($large-screen) {
      display: inherit;
    }

    ul {
      .main-navigation-element {
        display: inline-block;
        margin: 0 15px;
        text-transform: uppercase;
        font-size: $base-font-size;
        font-weight: 700;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        .featured {
          @include featured;
        }

      }
    }
  }

  .mobile-menu {
    @extend .main-navigation-container;
    display: flex;
    padding-right: 15px; 

    @include media($large-screen) {
      display: none;
    }

    @include media($medium-screen) {
      padding-right: 40px;
    }

    .fa-bars {
      font-size: 41px;
    }
  }

  .logo-container {
    padding: 15px 0 0 15px;

    @include media($medium-screen) {
      padding: 40px 0 0 40px;
    }
    a {
      display: block;
      text-align: left;
      img {
        width: 60%;
      }
    }
  }
}

.fade-screen {
  @include position(fixed, 0);
  background-color: black;
  opacity: 0;
  transition: all .3s $ease;
  visibility: hidden;
  z-index: 99999;

  &.menu-open {
    opacity: 0.4;
    visibility: visible;
  }
}

.mobile-menu-content {
  @include position(fixed, 0 0 0 auto);
  @include size(220px 100%);
  background-color: lighten($dark-gray, 5%);
  overflow-y: auto;
  transform: translateX(220px);
  transition: all .3s $ease;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;

  &.menu-open {
    transform: translateX(0);
  }

  .logo {
    margin-top: 40px;

    img {
      width: 60px;
    }
  }

  .menu-footer {
    margin-bottom: 20px;

    .languages {
      margin-bottom: 10px;

      a {
        font-weight: 700;
        opacity: 0.7;
        transition: all .3s $ease;
        font-size: 12px;

        @include media($medium-screen) {
          font-size: 1em;
        }

        &:hover {
          opacity: 1;
          color: $action-color;
        }

        &:first-child::before {
          content: '';
        }

        &::before {
          content: '|';
          padding-right: 5px;
        }
      }
    }

    .socials {
      font-size: 22px;

      .fa {
        margin: 0 10px;
        opacity: 0.7;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .featured {
    @include featured;
  }

  li {
    list-style: none;
  }

  li a {
    border-bottom: $dark-gray;
    color: white;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em;
    text-decoration: none;

    &:focus {
      background-color: lighten($dark-gray, 10%);
    }

    &:hover {
      color: $action-color;
    }
  }
}