.about
  .text-container
    %h1.page-main-title=I18n.t('about.main-title')
    %hr/
    %p=I18n.t('about.p1')
    %p=I18n.t('about.p2')
    %h2.page-secondary-title{style: "color: black"}=I18n.t('about.secondary-title') 
    %p{style: "color: black"}=I18n.t('about.p3')
