.impressum
  .text-container
    %h1.page-main-title= I18n.t('impress.main-title')
    %hr/
    %h2.page-secondary-title=I18n.t('impress.h2')
    %p=I18n.t('impress.p1')
    %p{style: 'margin-bottom: 30px'}=I18n.t('impress.p2')
    %p=I18n.t('impress.p3')
    %p{style: 'margin-bottom: 30px'}=I18n.t('impress.p4')
    %p=I18n.t('impress.p5')
    %p=I18n.t('impress.p6')
    %p=I18n.t('impress.p7')

