.home-wrapper
  =partial 'partials/main_navigation'
  .text-container
    %h1.home-main-title= I18n.t('home.title')
    %h2.home-second-title=I18n.t('home.subtitle')
    = link_to I18n.t('home.video_button'), 'https://youtu.be/cmhlI4ZqIzQ', class: 'home-video-button venobox', data: {type: "youtube"}

  =partial 'partials/home_footer'
