.gallery-photo {
  margin-bottom: 100px;
  padding: 0 15px;

  @include media($medium-screen) {
    padding: 0;
  }

  .ingredients {
    color: $orange;
  }

  .text-container {
    text-align: center;
    color: black;
    max-width: 900px;
    padding: 0 15px;
    margin: auto;
    font-size: 16px;

    @include media($medium-screen) {
      padding: 0;
    } 

    h1 {
      @include main-title();
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 2em;
      text-transform: uppercase;

      @include media($medium-screen) {
        font-size: 2.5em;
      }
    }

    hr {
      border-color: black;
      margin-bottom: 30px;
    }
  }

  .row {
    @include outer-container(1200px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    .column-container {
      @include span-columns(12);
      @include omega();
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;

      @include media($medium-screen) {
        padding: 0;
        @include span-columns(8);
      }

      .column {
        @include span-columns(6);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

}

.pagination {
  align-content: center;
  justify-content: center;
  display: none;

  @include media($medium-screen) {
    display: flex;
  }
  .current {
    color: $action-color;
  }
  .first {
      padding : 1em;
      float: none;
      border: none;
  }
  .prev {
      padding : 1em;
      float: none;
      border: none;
  }
  .page{
      padding : 1em;
      float: none;
      border: none;
  }
  .next{
      padding : 1em;
      float: none;
      border: none;
  }
  .last{
      padding : 1em;
      float: none;
      border: none;
  }



}

.gallery-list {
  padding: 0 15px;
  margin-bottom: 15px;

  @include media($medium-screen) {
    padding: 0 40px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    flex-direction: column;
    text-align: center;

    @include media($medium-screen) {
      flex-direction: row;
      text-align: left;
    }
    li {
      padding-right: 0;
      @include media($medium-screen) {
        padding-right: 20px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    li a {
      color: white;
      transition: all .3s $ease;
      margin-bottom: 10px;
      // font-size: 12px;


      &.category-active {
        color: $orange;
      }

      &:hover {
        color: $action-color;
      }
    }
  }

}

.gallery-container {
  width: 100%;
  padding: 0 0;
  margin: 0 auto 100px auto;

  @include media($medium-screen) {
    padding: 0;
  }

  .links {
    // @include position(absolute, null 0 0 0);
    text-align: center;
    color: black;
    opacity: 1;
    z-index: 200;
    padding: 0 15px;

    @include media($medium-screen) {
      padding: 0 40px;
    }


    #item-title, #slider-item-title {
      @include main-title();
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 2em;
      text-transform: uppercase;

      @include media($medium-screen) {
        font-size: 2.5em;
      }
    }
    .desc{
      margin-bottom: 50px;
      
      #item-desc, #ingredients, #slider-item-desc {
        font-size: 14px;

        @include media($medium-screen) {
          font-size: 16px;
        }

        p:first-child {
          color: $orange;

          // &:before {
          //   content: 'Ingredents: ';
          //   font-weight: 700
          // }
        }
      }

      #ingredients {
        color: $orange;
      }
    }


    .gallery-btn {
      @include button();
      max-width: 380px;
      padding: 15px 30px;
      margin: 0 15px;

      @include media($medium-screen) {
        margin: 0 auto;
      }
    }
  }

  #carousel {
    height: 750px;
    width: 100%;
    position: relative;

    
    .picture {
      cursor: pointer;

      .item {
        width: 250px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;

        @for $i from 1 through 42 {
          &:nth-child(#{$i}){
            background-image: url(http://www.fillmurray.com/500/#{1000 + ($i * 2)});
          }
        }
      }
    }
  }
}

.three-d {
  #slider {
    display: block;
    height: 420px;

    @include media($medium-screen) {
      display: none;
    }

    .slider-element {
      width: 150px;
    }
  }

  .links-2d {
    @extend .links;
    display: block!important;

    @include media($medium-screen) {
      display: none!important;
    }
  }

  #carousel, .links {
    display: none;

    @include media($medium-screen) {
      display: block;
    }
  }
}
